{% extends "base.html" %}

{% block title %}Ingredients List{% endblock %}

{% block content %}



<h1>材料一覧</h1>
<h2>お酒</h2>
<div class="ingredients-list">
    {% for sake in user_sakes %}
    <div class="ingredients-card">
        <a class="ingredient {% if sake.owned %}owned{% else %}not-owned{% endif %}" data-type="sake"
            data-id="{{ sake.sake.id }}">
        </a>
        <a> {{ sake.sake.name }}</a>
    </div>
    {% empty %}
    <li>No Sakes available</li>
    {% endfor %}
</div>
<h2>割り材</h2>
<div class="ingredients-list">
    {% for wari in user_waris %}
    <div class="ingredients-card">
        <a class="ingredient {% if wari.owned %}owned{% else %}not-owned{% endif %}" data-type="wari"
            data-id="{{ wari.wari.id }}">
        </a>
        <a> {{ wari.wari.name }}</a>
    </div>
    {% empty %}
    <li>No waris available</li>
    {% endfor %}
</div>

<h2>副材料</h2>
<div class="ingredients-list">
    {% for other in user_others %}
    <div class="ingredients-card">
        <a class="ingredient {% if other.owned %}owned{% else %}not-owned{% endif %}" data-type="other"
            data-id="{{ other.other.id }}">
        </a>
        <a> {{ other.other.name }}</a>
    </div>
    {% empty %}
    <li>No others available</li>
    {% endfor %}
</div>

{% endblock %}