{% extends "base.html" %}

{% block title %}Possible Cocktails{% endblock %}

{% block content %}
<h1>Possible Cocktails</h1>
<div>
    {% for cocktail in possible_cocktails %}
    {% include 'cocktails/partials/cocktail_card.html' with cocktail=cocktail %}
    {% endfor %}
</div>
<h1>Almost Possible Cocktails</h1>
<div>
    {% for item in almost_possible_cocktails %}
    {% include 'cocktails/partials/cocktail_card.html' with cocktail=item.cocktail %}
    <p><strong>Missing Ingredient:</strong> {{ item.missing_ingredient }}</p>
    {% endfor %}
</div>
<h1>Cocktails with Alternatives</h1>
<div>
    {% for item in cocktails_with_alternatives %}
    {% include 'cocktails/partials/cocktail_card.html' with cocktail=item.cocktail %}
    <p><strong>Missing Ingredients:</strong></p>
    <ul>
        {% for missing, alternative in item.missing_ingredients %}
        <li>{{ missing }} -> {{ alternative }}</li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>
{% endblock %}