{% extends "base.html" %}

{% block title %}Random Cocktail{% endblock %}

{% block content %}
<h1>闇鍋カクテルガチャ</h1>
<p><strong>カクテル名:</strong> {{ cocktail_name }}</p>
<h2>材料:</h2>
<ul>
    {% for ingredient in ingredients %}
    <li>{{ ingredient.item.name }} - {{ ingredient.amount }}</li>
    {% endfor %}
</ul>
<button id="regenerate-button">もう一度回す</button>

<script>
    document.getElementById('regenerate-button').addEventListener('click', function () {
        location.reload();
    });
</script>
{% endblock %}