{% extends "base.html" %}

{% block title %}Random Cocktail{% endblock %}

{% block content %}
<h1>ランダムカクテル</h1>
<div>
    <span>未知なるカクテルを作りましょう！</span>
</div>
<div><strong>カクテル名:</strong><span class="str">{{ cocktail_name }}</span></div>
<h2>材料:</h2>
<ul>
    {% for ingredient in ingredients %}
    <li>{{ ingredient.item.name }} - {{ ingredient.amount }}</li>
    {% endfor %}
</ul>
<p><strong>アルコール度数:{{percentage|floatformat:0}}</strong>度 </p>
<button id="regenerate-button">もう一回</button>

<script>
    document.getElementById('regenerate-button').addEventListener('click', function () {
        location.reload();
    });
</script>
{% endblock %}