{% extends "base.html" %}

{% block title %}Random Cocktail{% endblock %}

{% block content %}
<h1>Random Cocktail</h1>
<p><strong>Name:</strong> {{ cocktail_name }}</p>
<h2>Ingredients:</h2>
<ul>
    {% for ingredient in ingredients %}
    <li>{{ ingredient.item.name }} - {{ ingredient.amount }}</li>
    {% endfor %}
</ul>
<p><strong>アルコール度数:{{percentage|floatformat:0}}</strong>度 </p>
<button id="regenerate-button">Regenerate Cocktail</button>

<script>
    document.getElementById('regenerate-button').addEventListener('click', function () {
        location.reload();
    });
</script>
{% endblock %}